body{
    background-image: url("https://img.freepik.com/premium-photo/abstract-background-modern-tile-wall-3d-rendering_118019-399.jpg?semt=ais_hybrid");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}
h1{
    text-align: center;
    color: white;
}
p{
    color: white;
}
h3{
    text-align: center;
    color: gray;
}
dl{
    color: white;
}
li{
    color: white;
}
td{
    border: 2px solid black;
}
table{
    border: 2px solid black;
}
